.block.notice
  .block_image
    %span pic
  .block_details
    %h3 About Me
    .content
      %p Hi! I'm Noel del Castillo a learner of technology. I like thinking of solutions that could use the latest technology. 
.block
  %h3 Links
  %ul.navigation
    %li
      %a{:href => "#"} Link 1
    %li
      %a{:href => "#"} Link 2
